.App {
  font-family: monospace;
}

.btn {
  color: white;
  width: 700px;
  margin-left: 90px;
  display: inline;
  border: 1px solid black;
}

.table {
  border-radius: 0px 0px 15px 15px;
  border: none;
}

.card {
  opacity: 0.9 !important;
  background-color: #b9d8dd !important;
  border: 2px solid black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
